:root {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.playing-grid {
  background-color: black;
}

.square-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
}

.square {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}
